html, body,head, h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: auto;
}

h1 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	/*color: #e3e5e8;*/
	color: #2a5775;
	font-family: 'Trocchi', serif;
}

#page-header {
	background-color: white;
	margin: 0;
	padding: 0;
	border: 0;
	width: fill;
	clear: both;
	display: block;
}

#page-logo {
	float: left;
	padding-left: 20px;
	padding-right: 15px;
	padding-top: 8px;
}

#page-title {
	float: left;
	padding: 15px;
}

#viz-contents {
	width: fill;
	height: fill;
}

.ui-menu {
	position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #373a3c;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    max-height: 50%;
    overflow: scroll;
}
.ui-menu-item .ui-menu-item-wrapper{
    background-color: #fff;
	color: #373a3c;
	border: none;
}
.ui-menu-item .ui-menu-item-wrapper:hover {
	background-color: #f5f5f5;
	color: #373a3c;
	border: 1px solid rgba(0,0,0,.15);
}

.ui-menu-item-wrapper:focus {
	background-color: #f5f5f5;
	color: #373a3c;
	border: 1px solid rgba(0,0,0,.15);
}

.ui-menu-item-wrapper:active {
	background-color: #f5f5f5;
	color: #373a3c;
	border: 1px solid rgba(0,0,0,.15);
}

.ui-menu-item-wrapper:visited {
	background-color: #f5f5f5;
	color: #373a3c;
	border: 1px solid rgba(0,0,0,.15);
}


.ui-state-focus
{
    color: white;
    background:#96B202;
    outline:none;
}




