html, body,head, h2{
    margin: 0px;
    padding: 0px;
    border: 0px;
    overflow: auto;
}

h1 {
	margin: 0px;
	padding: 0px;
	border: 0px;
	/*color: #e3e5e8;*/
	color: #2a5775;
	font-family: 'Trocchi', serif;
}

#page-header {
	background-color: white;
	margin: 0;
	padding: 0;
	border: 0;
	width: fill;
	clear: both;
	display: block;
}

#page-logo {
	float: left;
	padding-left: 20px;
	padding-right: 20px;
}

#page-title {
	float: left;
	padding: 15px;
}

#toolbar {
	background-color: #2a5775;
	height: 50px;
	width: fill;
	position: relative;
	clear:both;
}

.navbar-nav > li > .dropdown-menu { background-color: #FF0000; }